li a {
    color: green;
}

html {
    background-color: hsl(38, 66%, 94%);
}

header a {
  text-decoration: none;
}

.podcast-title {
    text-align: center;
}

#menu ul {
  list-style: none;
  text-align: center;
}

#menu ul li {
  display: inline;
  padding: 1rem;
}

ul.episodes {
  list-style: none;
}
