li a {
    color: green;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: hsl(38, 66%, 94%);
    color: hsl(0, 0%, 20%);
    font-family: serif;
    transition: 0.9s transform;
}

#menu {
    position: fixed;
    width: 100%;
    top: calc(-13em);
    height: 13em;
    text-align: center;
    outline: 1px solid #666;
}

#menu ul, .menu-toggle {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

.menu-toggle {
    display: table;
    position: fixed;
    top: 0;
    text-align: left;
    font-size: 1.2em;
    height: 1em;
}
.menu-toggle .menu-a {
    display: none;
    padding: 0.0em 3em;
    line-height: 2em;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    border: 3px double #666;
    box-sizing: border-box;
    border-top: none;
    background-color: hsla(38, 66%, 94%, 0.75);
}
.menu-toggle .is-active {
    display: table-cell;
}

#menu li {
    font-size: 1.2em;
    line-height: 2em;
    height: 2em;
}

.menu-a {
    text-decoration: none;
    color: #0a0a0a;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
    transition: 0.3s border-bottom;
}

.menu-a {
    border-bottom: 4px solid #666;
}

.menu-a:hover, .menu-a:active {
    border-bottom: 4px solid hsl(182, 100%, 46%);
}

/* Widescreen header menu */
@media screen and (min-width: 600px) {
    #menu {
        position: relative;
        top: 0;
        height: auto;
        outline: none;
    }
    #menu li {
        display: inline-block;
        margin-right: 2em;
        border-bottom: none;
    }
    .menu-toggle {
        display: none;
    }

    body.has-active-menu {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .podcast-title {
        padding: 0.25em 0;
    }
}



/* Widescreen stylings */
@media screen and (min-width: 600px) {
    .podcast-title {
        font-size: 3em;
    }
}