{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Jin Park">

    {% block title %}<title>We still need a podcast name</title>{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
      <header>
          <h1 class="podcast-title title"><a class="nostyle" href="{% url 'home_page' %}"
                                       title="Accountability Hour">The No Named Podcast</a></h1>
          <nav id="menu" class="row">
              <ul>
                  <li><a class="menu-a" href="{% url 'home_page' %}">Home</a></li>
                  <li><a class="menu-a" href="{% url 'about_page' %}">About</a></li>
                  <li><a class="menu-a" href="{% url 'rss_feed' %}">Subscribe</a></li>
              </ul>
          </nav>
      </header>

      <div class="content">
          {% block content %}
          {% endblock %}
      </div>
    </div>

</body>
</html>
