{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Jin Park">

    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
