{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Jin Park">

    {% block title %}<title>We still need a podcast name</title>{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <h1 class="podcast-title title"><a class="nostyle" href="{% url 'home_page' %}"
                                     title="Accountability Hour">The No Named Podcast</a></h1>
        <nav id="menu">
            <ul>
                <li><a class="menu-a" href="{% url 'home_page' %}">Home</a></li>
                <li><a class="menu-a" href="{% url 'about_page' %}">About</a></li>
                <li><a class="menu-a" href="#">Subscribe</a></li>
            </ul>
        </nav>

        <div class="menu-toggle">
            <a class="menu-a is-active" href="#menu" id="menu-open">Menu</a>
            <a class="menu-a" href="#" id="menu-close">Close</a>
        </div>
    </header>

    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
