{% extends 'base.html' %}
{% load static %}

{% block content %}
    <ul class="episodes">
        {% for episode in episodes %}
            <li>
                <p>Episode {{ episode.number }} - {{ episode.name }}</p>
                <p>{{episode.description|safe}}</p>
                <!-- <hr> -->
                <!-- <h6>Show Notes</h6> -->
                <!-- <p>{{episode.show_notes|safe}}</p> -->
                <audio controls src="{{episode.file.url}}"></audio>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
